@import "../styles/colors";

$GRID_COLOR: $neon-purple;
$GRID_ANGLE_STEP: 7deg;
$GRID_VERTICAL_SPACING: 5rem;
$GRID_HORIZONTAL_SPACING: 0%;
$GRID_HORIZONTAL_ACCELERATION: .4%;
$GRIDLINE_WIDTH: .2em;
$HORIZON_WIDTH: .4em;
$GRIDLINE_VERTICAL_SIDE_COUNT: 12;
$GRIDLINE_HORIZONTAL_COUNT: 25;
$GRID_HEIGHT: 60%;

$VELOCITY_MULTIPLIER: 1;  // Modifier applied to adjust the speed of the simulated forward movement

$GRID_INIT: 50%;  // Where to start the left side of lines

// INTRO ANIMATIONS

.anim-outro {
    @keyframes anim-text-frame {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(110%);
        }
    }

    .text-frame, .enter-btn a {
        > * {
            animation: 2s ease-in anim-text-frame forwards;
        }
    }
}

.anim-intro {
    $DELAY: 1s;

    @keyframes anim-horizon {
        0% {
            width: 0;
            background-color: transparent;
            opacity: 1;
        }
        33% {
            width: 100%;
            background-color: transparent;
        }
        100% {
            width: 100%;
            background-color: $purple-darkest;
            opacity: 1;
        }
    }
    .horizon {
        opacity: 0;
        animation: 3s ease-out $DELAY anim-horizon forwards;
    }

    $DELAY: calc(#{$DELAY} + 1s);

    @keyframes anim-center-vertical {
        0% {
            height: 0;
            opacity: 1;
        }
        100% {
            height: 100%;
            opacity: 1;
        }
    }
    .verticals-center span {
        left: 50%;
        opacity: 0;
        animation: 1s anim-center-vertical $DELAY ease-in forwards;
    }

    $DELAY: calc(#{$DELAY} + 1s);

    .verticals-left {
        @for $n from 1 to $GRIDLINE_VERTICAL_SIDE_COUNT + 1 {
            @keyframes anim-left-#{$n} {
                0% {
                    opacity: 1;
                    right: 50%;
                    transform: rotate(0);
                }
                100% {
                    opacity: 1;
                    right: calc(#{$GRID_INIT} + (#{$GRID_VERTICAL_SPACING} * (#{$n})));
                    transform: rotate(calc(#{$GRID_ANGLE_STEP * $n}));

                }
            }
            span:nth-child(#{$n}) {
                opacity: 0;
                animation: 2s anim-left-#{$n} $DELAY forwards;
            }
        }
    }
    .verticals-right {
        @for $n from 1 to $GRIDLINE_VERTICAL_SIDE_COUNT + 1 {
            @keyframes anim-right-#{$n} {
                0% {
                    opacity: 1;
                    left: 50%;
                    transform: rotate(0);
                }
                100% {
                    opacity: 1;
                    left: calc(#{$GRID_INIT} + (#{$GRID_VERTICAL_SPACING} * (#{$n})));
                    transform: rotate(calc(-1 * #{$GRID_ANGLE_STEP * $n}));
                }
            }
            span:nth-child(#{$n}) {
                opacity: 0;
                animation: 2s anim-right-#{$n} $DELAY forwards;
            }
        }
    }
    .horizontals {
        @for $n from 0 to $GRIDLINE_HORIZONTAL_COUNT + 1 {
            @keyframes anim-#{$n} {
                0% {
                    top: calc(#{(($n + 1) * $GRID_HORIZONTAL_SPACING) + (($n / 2) * ($n + 1)) * $GRID_HORIZONTAL_ACCELERATION});
                }
                100% {
                    top: calc(#{(($n) * $GRID_HORIZONTAL_SPACING) + ((($n - 1) / 2) * ($n)) * $GRID_HORIZONTAL_ACCELERATION});
                }
            }
            @keyframes anim-center-intro-#{$n} {
                0% {
                    opacity: 1;
                    border-top: transparent;
                    background-color: transparent;
                    border-bottom: transparent;
                }
                30% {
                    border-top: solid calc(#{$GRIDLINE_WIDTH} / 2) rgb(245, 255, 195);
                    background-color: rgb(245, 255, 195);
                    border-bottom: solid calc(#{$GRIDLINE_WIDTH} / 2) rgb(245, 255, 195);
                }
                100% {
                    opacity: 1;
                    border-top: solid calc(#{$GRIDLINE_WIDTH} / 2) $GRID_COLOR;
                    background-color: $GRID_COLOR;
                    border-bottom: solid calc(#{$GRIDLINE_WIDTH} / 2) $GRID_COLOR;
                }
            }
            span:nth-child(#{$n}) {
                opacity: 0;
                animation: 1s anim-center-intro-#{$n} calc(#{$DELAY} + (.1s * #{$n})) forwards,
                    calc(.5s * #{$VELOCITY_MULTIPLIER}) linear calc(#{$DELAY} + (.1s * #{$GRIDLINE_HORIZONTAL_COUNT})) anim-#{$n} 17;
            }
        }
    }

    $DELAY: calc(#{$DELAY} + (.1s * #{$GRIDLINE_HORIZONTAL_COUNT}));
    $TEXT_TIME: 6.5s;  // Partial animations require this number for delay math and whatnot

    @keyframes anim-title {
        0% {
            transform: translate(-50%, 100%) scale(1.7);
            bottom: 0;
            opacity: 1;
        }
        100% {
            transform: translateX(-50%) scale(1);
            bottom: calc(#{$GRID_HEIGHT} / 1.5);
            opacity: 1;
        }
    }
    .title {
        opacity: 0;
        animation: calc(#{$TEXT_TIME} * #{$VELOCITY_MULTIPLIER}) cubic-bezier(.13,.22,.79,.9) calc(#{$DELAY} + (2s * #{$VELOCITY_MULTIPLIER})) anim-title forwards;
    }
    @keyframes anim-subtitle {
        0% {
            transform: translate(-50%, 100%) scale(1.5);
            bottom: 0;
            opacity: 1;
        }
        100% {
            transform: translateX(-50%) scale(1);
            bottom: calc(#{$GRID_HEIGHT} / 1.7);
            opacity: 1;
        }
    }

    @keyframes anim-subtitle-text-movement {
        0% {
            transform: translateY(0);
        }
        35% {
            transform: translateY(0);
        }
        44% {
            transform: translateY(100%);
        }
        55% {
            transform: translateY(0);
        }
        80% {
            transform: translateY(0);
        }
        89% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes anim-subtitle-text {
        0% {
            content: 'DEVOPS';
        }
        44% {
            content: 'DEVOPS';
        }
        45% {
            content: 'MENTORS';
        }
        89% {
            content: 'MENTORS';
        }
        90% {
            content: 'CODES';
        }
        100% {
            content: 'CODES';
            color: $neon-purple-lighter;
        }
    }
    .subtitle {
        opacity: 0;
        animation: calc(#{$TEXT_TIME - 2s} * #{$VELOCITY_MULTIPLIER}) cubic-bezier(.13,.22,.79,.9) calc(#{$DELAY} + (4s * #{$VELOCITY_MULTIPLIER})) anim-subtitle forwards;

        .text-subtitle {
            animation: calc(#{$TEXT_TIME - 2s} * #{$VELOCITY_MULTIPLIER}) ease-in-out calc(#{$DELAY} + (4s * #{$VELOCITY_MULTIPLIER})) anim-subtitle-text-movement forwards;
        }
        .text-subtitle:after {
            animation: calc(#{$TEXT_TIME - 2s} * #{$VELOCITY_MULTIPLIER}) linear calc(#{$DELAY} + (4s * #{$VELOCITY_MULTIPLIER})) anim-subtitle-text forwards;
        }
    }

    $DELAY: calc(#{$DELAY} + ((#{$TEXT_TIME} + 2s) * #{$VELOCITY_MULTIPLIER}));

    @keyframes anim-btn {
        0% {
            opacity: 1;
            transform: translateY(95%) scaleX(0);
        }
        40% {
            transform: translateY(95%) scaleX(1);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
            width: auto;
        }
    }

    .enter-btn button {
        opacity: 0;
        animation: 2s ease-out $DELAY anim-btn forwards;
    }
}


// BASE POSITIONING

.backdrop {
    position: relative;
    width: 100%;
    min-height: 30rem;
    background-color: $purple;
    transition: 3s;
    overflow: hidden;

    .backdrop-curtains {
        position: absolute;
        width: 100%;
        height: 100%;

        span {
            position: absolute;
            z-index: 1;
            width: 100%;
            bottom: $GRID_HEIGHT;
            background-color: rgba(245, 255, 195, .1);
            box-shadow: 1rempx 0 1rem #222;
        }

        @for $n from 0 to 4 {
            span:nth-child(#{$n}) {
                height: calc((100% - #{$GRID_HEIGHT}) * (.34 * #{$n}));
            }
        }
    }
    .horizon {
        position: relative;
        border-top: solid $HORIZON_WIDTH $GRID_COLOR;
        background-color: $purple-darkest;
        overflow: hidden;
        z-index: 1;

        top: calc(100% - #{$GRID_HEIGHT});
        width: 100%;
        height: $GRID_HEIGHT;

        [class*="verticals-"], .horizontals {
            span {
                position: absolute;
                background-color: $GRID_COLOR;
            }
        }

        .verticals-left, .verticals-right, .verticals-center {
            span {
                top: -1px;
                height: 200%;

                transform-origin: 100% 0;

                border-left: solid calc(#{$GRIDLINE_WIDTH} / 2) $GRID_COLOR;
                border-right: solid calc(#{$GRIDLINE_WIDTH} / 2) $GRID_COLOR;
            }
        }

        .horizontals span {
            width: 100%;

            border-top: solid calc(#{$GRIDLINE_WIDTH} / 2) $GRID_COLOR;
            border-bottom: solid calc(#{$GRIDLINE_WIDTH} / 2) $GRID_COLOR;

            @for $n from 0 to $GRIDLINE_HORIZONTAL_COUNT {
                &:nth-child(#{$n}) {
                    top: calc(#{(($n + 1) * $GRID_HORIZONTAL_SPACING) + (($n / 2) * ($n + 1)) * $GRID_HORIZONTAL_ACCELERATION});
                }
            }
        }

        .verticals-center span{
            height: 100%;
            left: 50%;
        }
        .verticals-left {
            @for $n from 1 to $GRIDLINE_VERTICAL_SIDE_COUNT + 1 {
                span:nth-child(#{$n}) {
                    right: calc(#{$GRID_INIT} + (#{$GRID_VERTICAL_SPACING} * (#{$n})));
                    transform: rotate(calc(#{$GRID_ANGLE_STEP * $n}));
                }
            }
        }
        .verticals-right {
            @for $n from 1 to $GRIDLINE_VERTICAL_SIDE_COUNT + 1 {
                span:nth-child(#{$n}) {
                    left: calc(#{$GRID_INIT} + (#{$GRID_VERTICAL_SPACING} * (#{$n})));
                    transform: rotate(calc(-1 * #{$GRID_ANGLE_STEP * $n}));
                }
            }
        }
    }
    .text-container {
        .text-list {
            .text-frame {
                position: absolute;
                z-index: 2;
                left: 50%;
                color: $neon-purple-lighter;
                white-space: nowrap;
                transform: translateX(-50%);
                text-shadow: 0em -.2em 0em $purple-lighter;
                padding-top: .5em;
                overflow: hidden;

                &.title {
                    bottom: calc(#{$GRID_HEIGHT} / 1.5);
                }
                &.subtitle {
                    bottom: calc(#{$GRID_HEIGHT} / 1.7);
                    // color: $neon-purple-light;

                    .text-subtitle:after {
                        content: 'CODES';
                    }
                }
                &.enter-btn {
                    bottom: calc(#{$GRID_HEIGHT} / 3.5);
                    button {
                        cursor: pointer;
                        padding: .5rem;
                        font-weight: bold;

                        box-shadow: 0em -.1em 0em $purple-lighter;
                        background-color: $purple-darkest;
                        border: solid .3rem $neon-purple;
                        border-radius: .5rem;
                        color: $neon-purple;
                        transition: .3s;

                        &:hover {
                            color: $neon-purple-lighter;
                            border-color: $neon-purple-lighter;
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 575px) {
        .text-container {
            padding: 0 8%;

            .text-title {
                font-size: 3.5em;
            }

            .text-subtitle {
                font-size: 2em;
            }

            .enter-btn button {
                font-size: 2em;
            }
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767px) {
        .text-container {
            padding: 0 10%;

            .text-title {
                font-size: 5em;
            }

            .text-subtitle {
                font-size: 2.5em;
            }

            .enter-btn button {
                font-size: 2.5em;
            }
        }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991px) {
        .text-container {
            padding: 0 12%;

            .text-title {
                font-size: 6em;
            }

            .text-subtitle {
                font-size: 3em;
            }

            .enter-btn button {
                font-size: 2.75em;
            }
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199px) {
        .text-container {
            padding: 0 15%;

            .text-title {
                font-size: 6.5em;
            }

            .text-subtitle {
                font-size: 3.25em;
            }

            .enter-btn button {
                font-size: 2.75em;
            }
        }
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        .text-container {
            padding: 0 calc(#{$GRID_HEIGHT} / 2.5);

            .text-title {
                font-size: 7em;
            }

            .text-subtitle {
                font-size: 3.5em;
            }

            .enter-btn button {
                font-size: 3em;
            }
        }
    }
}
